.relative {
	position: relative;
}

.container {
	width: 800px;
	height: 400px;
	border: 4px purple solid;
}

.container p {
	position: absolute;
	margin: 0;
}

.vegetables {
	left: 50px;
	top: 65px;
}

.seafood {
	bottom: 0;
	right: 0;
}

.greek-food {
	right: 60px;
	top: 214px;
}







